.chapter {
	break-before: right;
	font-family: 'Georgia', 'Times New Roman', serif;
}
.chapter h1 {
	string-set: chaptertitle content(text);
	font-family: 'Georgia', 'Times New Roman', serif;
}
.chapter h2 {
	border-bottom: 2px solid var(--color-lightest-grey);
	margin-top: 0;
	padding-top: 3em;
	font-size:1.66em;
	font-family: 'Georgia', 'Times New Roman', serif;
}
.cover h1 {
	font-size: 2em;
	font-family: 'Georgia', 'Times New Roman', serif;
}

.cover {
	text-align: center;
	page: coverPage;
}

.cover img {
	width: 512px;
}

.back_cover {
	text-align: center;
	page: coverPage;
}

.back_cover h1 {
	font-size: 1.6em;
	font-family: 'Georgia', 'Times New Roman', serif;
}

@page {
	@bottom-center:not(.pagedjs_blank_page) {
		content: "- " counter(page) " -";
	}
}

@page coverPage {
	@top-center {
		content: "";
	}

	@bottom-center {
		content: "";
	}
}

@page:left {
	@top-center {
		content: "Alice in Wonderland";
	}
}

@page:right {
	@top-center {
		content: string(chaptertitle);
	}
}

